<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>364815738039-bfi4395k5ukqtkjp603qrahsrmpo591j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.364815738039-bfi4395k5ukqtkjp603qrahsrmpo591j</string>
	<key>API_KEY</key>
	<string>AIzaSyDSHozCeQWeD33VZhz7CiWypwi3k5K7iuI</string>
	<key>GCM_SENDER_ID</key>
	<string>364815738039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.qwique</string>
	<key>PROJECT_ID</key>
	<string>qwique</string>
	<key>STORAGE_BUCKET</key>
	<string>qwique.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364815738039:ios:ea0fa06cb811be6cd75932</string>
</dict>
</plist>